*.db
public/movies
public/tv
tmp
*~
#*#
app/assets/images/posters/*.jpg
app/assets/images/posters/*.png

app/assets/images/backdrops/*.jpg
app/assets/images/backdrops/*.png

public/assets/*

uploads/*

*.sqlite3
*.log
