passenger*
.sass-cache
.DS_store
*.db
public/movies
public/tv
public/music
tmp
*~
#*#
public/posters/*.jpg
public/posters/*.png
log/*/**
public/backdrops/*.jpg
public/backdrops/*.png

public/assets/*

uploads/*

*.sqlite3
*.log
