<legend>Comments</legend>

<table class='table'>
  <tbody>
    <% @comments.each do |c| %>
      <tr>
        <td width='20%'><strong><%= c.name.blank? ? 'Human' : c.name %></strong><br>#<%= c.id %></td>
        <td><%= c.content.html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @comments, :remote => true %>
