<h2>Browse All</h2>

<span class="pull-right"><input class="form-control" id="search" name="search" placeholder="filter" type="search"></span>

<span class="pull-right" style="padding-right:10px">
  <div class="dropdown">
    <a id="dropdown-button" class="btn btn-default" data-toggle="dropdown" href="#">Sort</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-button">
      <li><a href="?sort=title">Title</a></li>
      <li><a href="?sort=title%20desc">Title (desc)</a></li>
      <li><a href="?sort=runtime">Runtime</a></li>
      <li><a href="?sort=runtime%20desc">Runtime (desc)</a></li>
      <li><a href="?sort=release_date">Release Date</a></li>
      <li><a href="?sort=release_date%20desc">Release Date (desc)</a></li>
      <li><a href="?sort=vote_average">Rating</a></li>
      <li><a href="?sort=vote_average%20desc">Rating (desc)</a></li>
      <li><a href="?sort=random()">Random</a></li>
    </ul>
  </div>
</span>

<% library.each do |movie| %>
  <%= erb :movie_detail, locals: {movie: movie} %>
<% end %>

<script>
  // search function
  $('#search').keyup(function() {
    var regex = new RegExp($('#search').val(), "i");
    var movies = $('.movie');

    movies.each(function (index) {
      if ($(this).html().search(regex) != -1) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
    load_img()
  });

  // creates an invisible scrolling event to trigger the lazy loading when
  //  divs are shown/hidden
  function load_img() {
    $('body,html').scrollTop($(window).scrollTop() + 1)
                  .scrollTop($(window).scrollTop() - 1)
  }

  // activate lazyload
  $('.container').height($(window).height() - 25);
</script>

