<h1>Feedback</h1>

<table class='table'>
  <thead>
    <tr>
      <th width=20%>User</th>
      <th width=70%>Feedback</th>
      <th width=10%>Status</th>
    </tr>
  </thead>
  <tbody>
    <% feedback.each do |f| %>
      <tr>
        <td><%= f[0] %></td>
        <td><%= f[1] %></td>
        <td><%= f[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
