<div class="jumbotron" style="margin-top:100px;">
  <h1>Thanks <%= name %>!</h1>
  <p>Your feedback has been received. Maybe I'll get right on that. No promises though.<p>
  <%= link_to "Go Back", "/", class: "btn btn-primary btn-lg" %>
</div>
