<h2>Genres</h2>

<% genres.each do |g| %>
  <div class="row genre-row">
    <div class="col-md-12">
      <legend><%= link_to g[0], "/genre/#{g[1]}" %></legend>
    </div>
    <% movie_array[g[1]].each do |movie| %>
      <div class="col-md-2 movie-cell">
        <%= link_to "<img data-original='https://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/#{movie[7]}' class='movie-thumb lazy'></img>", "/watch/#{ movie[16] }" %>
        <%= link_to movie[4], "/view/#{movie[2]}" %>
      </div>
    <% end %>
  </div>
<% end %>

