<html>
  <head>
    <title>Caketop Movies</title>
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
    <link href="/css/custom.css" rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.lazyload.js"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

