<html>
  <head>
    <title>Caketop Movies</title>
    <link href="movies/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="movies/css/bootstrap-theme.css" rel='stylesheet' type='text/css'>
    <link href="movies/css/custom.css" rel='stylesheet' type='text/css'>
    <script src="movies/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

