<h2><%= title %></h2>

<% movies.each_slice(6) do |slice| %>
  <div class="row genre-row">
    <% slice.each do |movie| %>
      <div class="col-md-2 col-xs-4 movie-cell">
        <%= link_to image_tag("/img/posters/#{ movie[2] }.jpg", class: 'movie-thumb'), "/watch/#{ movie[2] }" %>
        <%= link_to movie[4], "/view/#{movie[2]}" %>
      </div>
    <% end %>
  </div>
<% end %>
