<% if @uploaded %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success!</strong> <%= @filename %> uploaded. Thanks.
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Contribute</h1>
    <p>If you have a film you'd like to contribute to Caketop theater, this is the place to do that. Make sure you're only uploading videos, and that those videos are of high resolution (720p or better) and bitrate (1500Kbps or better), and are named according to their title (i.e. Movie.Title.2009.whatever.else.mp4). This isn't an automated system, I'll be checking these before cataloging them, so if you're not sure go ahead and try.<p>

    <p>Don't submit episodes of TV shows. If you've got a TV show you want to contribute, contact me and we'll work something out.</p>

    <form enctype='multipart/form-data' method='post'>
      <input name='myfile' type='file'>
      <br>
      <input type='submit' value='upload'>
    </form>
  </div>
</div>
