<h1>Requests</h1>

<table class='table'>
  <thead>
    <tr>
      <th width=20%>Requester</th>
      <th width=70%>Request Content</th>
      <th width=10%>Status</th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.request %></td>
        <td><%= r.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
