<h1>Feedbacks</h1>

<table class='table'>
  <thead>
    <tr>
      <th width=20%>Name</th>
      <th width=55%>Message</th>
      <th width=10%>IP</th>
      <th width=25%>Sent From Page</th>
    </tr>
  </thead>
  <tbody>
    <% feedback.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.message %></td>
        <td><%= r.ip %></td>
        <td><%= r.page_location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
