body {
  padding-top: 60px;
}

.sublegend {
  color: #bbb;
  font-size: 11;
}

.container {
  padding-bottom:25px;
}

.movie-cell {
  text-align:center;
}

.movie-thumb {
  width: 100%;
  padding-bottom:10px;
}

.genre-row {
  padding-bottom:30px;
}

// Sticky Footer Stuff
html,
body {
  height:100%
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100$;
  margin: 0 auto -30px;
}

#push,
#footer {
  height: 30px;
}
#footer {
  background-color: #eee;
  text-align: right;
  color: #a0a0a0;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right 20px;
  }
}

.vid-container {
  height: 550px;
  text-align:center;
  background-size: cover;
  background-position:center center;
}

video {
  width:100%;
  height:100%;
}
