<div class="row">
  <div class="col-md-12">
    <legend><%= title %></legend>
    <% movies.each_slice(6) do |slice| %>
      <div class="row genre-row">
        <% slice.each do |movie| %>
        <div class="col-md-2 col-xs-4 movie-cell" >
        <%= link_to image_tag(movie.poster, class: 'movie-thumb'), movie %>
          <span class="play"></span>
          <%= link_to movie.title, movie %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>