<h1>Films</h1>

<%= render partial: 'movies/grid', locals: {movies: @new, title: 'New Additions'} %>

<div id="random">
  <%= render partial: 'movies/grid', locals: {movies: @random, title: 'Random Selection', link: link_to('Shuffle', movies_shuffle_path, remote: true)} %>
</div>