<div class="jumbotron" style="text-align:center;background-color:#fff">
  <h1>Caketop Theater</h1>
  <p>Chose your adventure...</p>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'icon_5198.svg', width: '100%'  %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('icon_1895.svg', width: '100%'), movies_path %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'icon_2013.svg', width: '100%'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Television</h2>
    </div>
    <div class="col-md-4">
      <h2>Film</h2>
    </div>
    <div class="col-md-4">
      <h2>Music</h2>
    </div>
  </div>
</div>