<h1> Music </h1>

<ul>
  <% @artists.each do |artist| %>
    <div class="row">
      <h3><%= artist.name %></h3>
      <div class="row">
      <% artist.albums.each do |album| %>
        <% if !album.art.nil? %>
          <div class="col-md-3 col-xs-3">
            <%= link_to image_tag("/#{album.art}", class:'music-thumb'), music_path(album.id), remote: true %>
          </div>
          <div id="album-<%= album.id %>"></div>
        <% end %>
      <% end %>
      </div>

    </div>
  <% end %>
<ul>
