.container {
  padding: 60px 15px 50px 15px;
}

.container {
  padding-bottom:25px;
}

.movie-cell {
  text-align:center;
}

.active {
  background-color: #d2d2d2;
}

.song-cell {
  height:260px;
  overflow-y:scroll;
}

.music-thumb {
  margin-bottom:10px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  width: 100%%;

}

.movie-thumb {
  margin-bottom:10px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  width: 100%;
  box-shadow:0px 0px 10px #666;
}

.genre-row {
  padding-bottom:30px;
}

.vid-container {
  height: 550px;
  text-align:center;
  background-size: cover;
  background-position:center center;
}

video {
  width:100%;
  height:100%;
}

.sublegend {
  color: #bbb;
  font-size: 11px;
}

.legend_link {
  margin-top:20px;
}


html,
body {
  height:100%
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}

#push,
#footer {
  height: 20px;
}
#footer {
  background-color: #eee;
  text-align: right;
  color: #a0a0a0;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}